<!--分类图标-->
<section id="categoryMenu" class="box320">
  <ul class="clear">
    <li><a href="#"><img src="assets/images/ICON_cate_01.png"/></a><br/>分类</li>
    <li><a href="#"><img src="assets/images/ICON_cate_02.png"/></a><br/>服装城</li>
    <li><a href="#"><img src="assets/images/ICON_cate_03.png"/></a><br/>电器城</li>
    <li><a href="#"><img src="assets/images/ICON_cate_04.png"/></a><br/>母婴专区</li>
    <li><a href="#"><img src="assets/images/ICON_cate_05.png"/></a><br/>汽车专区</li>
    <li><a href="#"><img src="assets/images/ICON_cate_06.png"/></a><br/>晒单</li>
    <li><a href="#"><img src="assets/images/ICON_cate_07.png"/></a><br/>积分商城</li>
    <li><a href="#"><img src="assets/images/ICON_cate_08.png"/></a><br/>团购热卖</li>
    <li><a href="#"><img src="assets/images/ICON_cate_09.png"/></a><br/>限时秒杀</li>
    <li><a href="#"><img src="assets/images/ICON_cate_10.png"/></a><br/>帮助中心</li>
  </ul>
</section>