<!-- 轮播组件 -->
<app-banner></app-banner>

<!-- 分类组件 -->
<app-category></app-category>

<!-- 首页独有的内容 -->
<!--商城公告-->
<section id="buttin" class="box320 marginTop10">
    <h5>商城公告</h5>
    <ul>
        <li>促销vivoX9新品发布乐享3重好礼1</li>
        <!--<li>促销vivoX9新品发布乐享3重好礼2</li>-->
    </ul>
</section>

<!--楼层1-->
<section class="box320 commonTitle marginTop10">
    <h5>新品上市</h5>
</section>
<section class="box320 productCon marginTop10">
    <div>
        <p><img src="assets/images/cp1.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp2.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp3.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp4.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
</section>

<!--楼层2-->
<section class="box320 commonTitle marginTop10">
    <h5>促销爆款</h5>
</section>
<section class="box320 productCon marginTop10">
    <div>
        <p><img src="assets/images/cp5.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp6.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp7.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp8.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
</section>

<!--楼层3-->
<section class="box320 commonTitle marginTop10">
    <h5>精品推荐</h5>
</section>
<section class="box320 productCon marginTop10">
    <div>
        <p><img src="assets/images/cp9.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp10.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp3.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
    <div>
        <p><img src="assets/images/cp4.jpg"/></p>
        <p>秋冬内搭衣服长袖白色棉T恤冬装厚保暖上衣女士加绒加厚打底</p>
        <p>服饰鞋帽</p>
        <p>价格：<span class="colorRed">￥180.00</span></p>
    </div>
</section>